# gunicorn.service
# For running Gunicorn based application with a config file
#
# In Service Configuration section,
# make sure the WorkingDirectory, ExecStart and ExecReload commands are correct
# for your installation. Also do not forget to change the User and Group accordingly.

[Unit]
Description=Gunicorn Web Server as Unit Service Systemd
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/aarhus-duck-race-demo/backendfastapi/
Environment="PATH=/home/aarhus-duck-race-demo/backendfastapi/env/bin"
ExecStart=/home/aarhus-duck-race-demo/backendfastapi/env/bin/gunicorn --config /home/aarhus-duck-race-demo/backendfastapi/gunicorn.py main:app

[Install]
WantedBy=multi-user.target